body{
}

/*Header Styles */
header{
  border-bottom-style:solid;
  border-width:5px;
  border-bottom-color:darkorange;
  width:100%;
  display:table;
  margin-bottom:15px;
}
.logo{
  display:inline-block;
  height:100px
}
.rightHeaderBlock{
  float:right;
}
.name{
  text-align:right;
}
.jobTitle{
  text-align:right;
}
h5{
  margin:10px;
}

/*Main Image Style*/
.image{
  width:100%;
  margin:auto;
  display:block;
}
.projects-container{
  display:flex;
  flex-wrap:wrap;
}
.project{
  width:250px;
  display:block;
}
.portfolioTitle{
  margin-top:1.5em;
  margin-bottom:1em;
}
.project p{
  text-align:center;
}
.project img{
  width:90%;
  margin:auto;
  display:block;
}
.project h5{
  text-align:center;
}
